// Font Stacks based on http://cssfontstack.com/

// Sans-Serifs

$arial:       Arial, "Helvetica Neue", Helvetica, sans-serif;
$arial-black:     "Arial Black", "Arial Bold", Gadget, sans-serif;
$arial-narrow:    "Arial Narrow", Arial, sans-serif;
$arial-rounded:   "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
$avant-garde:     "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
$calibri:       Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$candara:       Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$century-gothic:  "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
$franklin-gothic:   "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
$futura:      Futura, "Trebuchet MS", Arial, sans-serif;
$geneva:      Geneva, Tahoma, Verdana, sans-serif;
$gill-sans:     "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$helvetica:     "Helvetica Neue", Helvetica, Arial, sans-serif;
$impact:      Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
$lucida-grande:   "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$optima:      Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
$segoe:       Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$trebuchet:     "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$tahoma:      Tahoma, Verdana, Segoe, sans-serif;
$verdana:       Verdana, Geneva, sans-serif;

// Serif
$perpetua:      Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
$times-new-roman: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
$palatino:      Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; 
$lucida-bright:   "Lucida Bright", Georgia, serif;
$hoefler-text:    "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
$goudy-old-style: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
$garamond:      Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
$didot:       Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
$cambria:     Cambria, Georgia, serif;
$book-antiqua:    "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
$bodoni-mt:     "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
$big-caslon:    "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
$baskerville:   Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
$georgia:     Georgia, Times, "Times New Roman", serif;


// Monospaced
$andale-mono:     "Andale Mono", AndaleMono, monospace;
$courier-new:     "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$lucida-console:  "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
$lucida-sans-typewriter: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
$consolas:      consolas, monaco, "Lucida Console", monospace;
$monaco:      monaco, consolas, "Lucida Console", monospace;

// Slab Serif
$rockwell:      Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
$rockwell-extra-bold:   "Rockwell Extra Bold", "Rockwell Bold", monospace;
$museo-500:     "Museo-500", Rockwell, Courier, "Courier New", serif;


// Others
$papyrus:     Papyrus, fantasy;
$brush-script-mt: "Brush Script MT", cursive;
$copperplate:     Copperplate, "Copperplate Gothic Light", fantasy;